/*----------------------------------
        avatar.html
-----------------------------------*/
#avatar-frame {
    position: fixed;
    right: 1%;
    top: 10%;
    background-color: #c8c800;
    border: inset;
    min-height: 20vh;
    min-width: 12vw;

}


.avatar-image {
    height: 18vh;
    width: 5vw;
}
.stars {
    min-height: 5vh;
    min-width: 10vw;
    font-size: 2em;




}

/*----------------------------------
        bookshelf.html
-----------------------------------*/

body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgb(181, 31, 114);
    height: 80vh;
    width:100%;
}


.shelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    /*background-color: rgba(181, 181, 181, 0.9);*/
    height: 40vh;
    /*width: 35wh;*/
}

.frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(159, 159, 159, 0.9);
    height: 40vh;


}

img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    /*background-color: rgba(159, 0, 255, 0.9);*/
    height: 30vh;
    /*width: 20wh;*/
    margin: 0 20px;

}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;

}
figcaption  {
    align-items: center;
    font-size: 1.2em;
}



 /*--------------------------------------
        display_book.html
--------------------------------------*/

#display-book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(159, 159, 159, 0.9);
    min-height: calc(100% - 180);
    width:100%;
}


.background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
   background-color: rgb(181, 31, 114);
    min-height: 74%;
    width: 100%;

}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(158, 70, 120, 0.9);
    height: 35vh;
    width: 25wh;

}

.title {
    font-size: 4em;

}

 /*-- lightslider css --*/

.lSSlideOuter{
    background-color: rgb(181, 31, 114);
}

ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}

.content-slider li{
    background-color: #b45289;
    text-align: center;

}

.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}

.title-text {
    /*font-size: 1.5em;*/
}

/*------- slider -------*/


/*----------------------------------
        story_page.html
-----------------------------------*/
/*#story-book-container {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*align-content: space-around;*/
    /*background-color: rgba(180, 82, 137, 0.9);*/
    /*height: 80vh;*/
    /*width:80wh;*/
/*}*/



/*.video-container {*/
    /*max-width: 100%;*/
    /*!*background-color: #2b542c;*!*/
    /*!*background-size: cover;*!*/

/*}*/

#avatar {
    position: absolute;
    top: 10%;
    right: 2%;
    font-size: 2em;
    color: #5cb85c;
    z-index: 3;
}


#record {
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 2em;
    color: #5cb85c;
    z-index: 3;
}

.chapter {
    position: absolute;
    top: -2%;
    left: 40%;
    font-size: 3em;
    color: #5cb85c;
    z-index: 3;
}

/**/
/*#text {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-start;*/
    /*height: 30%;*/
    /*position: absolute;*/
    /*bottom: 10%;*/
    /*right: 20%;*/
    /*font-size: 2.5em;*/
    /*line-height: 1.75em;*/
    /*color: #5cb85c;*/
    /*z-index:3;*/
/*}*/


/* Game */
.word-1 {
    /*height: 30%;*/
    position: absolute;
    bottom: 50%;
    right: 40%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index:3;

}

/* Where */
.word-2 {
    /*height: 30%;*/
    position: absolute;
    bottom: 40%;
    right: 40%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index: 2;
}

/* is */
.word-3 {
    /*height: 30%;*/
    position: absolute;
    bottom: 40%;
    right: 36%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index:3;

}

/* the river */
.word-4 {
    /*height: 30%;*/
    position: absolute;
    bottom: 40%;
    right: 22%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index: 3;
}

/* Game */
.word-5 {
    /*height: 30%;*/
    position: absolute;
    bottom: 30%;
    right: 40%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index:3;

}

/* Where */
.word-6 {
    /*height: 30%;*/
    position: absolute;
    bottom: 20%;
    right: 40%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index: 2;
}

/* is */
.word-7 {
    /*height: 30%;*/
    position: absolute;
    bottom: 20%;
    right: 36%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index:3;

}

/* the river */
.word-8 {
    /*height: 30%;*/
    position: absolute;
    bottom: 20%;
    right: 22%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index: 3;
}


#story-video {
    position: fixed;
    /*top: 50%; left: 50%;*/
    z-index: 1;
    width: 100%;
    height: 100%;
    /*min-width: 100%
    /*min-height: 100%
    /*width: auto;*/
    /*height: auto;*/
    /*transform: translate(-50%, -50%);*/


}