/*----------------------------------
        bookshelf.html
-----------------------------------*/

body {
    margin: 0;
}





/*----------------------------------
        bookshelf.html
-----------------------------------*/

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(180, 82, 137, 0.9);
    height: 80vh;
    width:80wh;
}


.shelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(181, 181, 181, 0.9);
    height: 40vh;
    /*width: 35wh;*/
}

.frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    /*background-color: rgba(159, 0, 255, 0.9);*/
    height: 35vh;
    /*width: 25wh;*/

}

img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(159, 0, 255, 0.9);
    height: 30vh;
    /*width: 20wh;*/
    margin: 0 20px;

}


 /*--------------------------------------
        display_book.html
--------------------------------------*/

#display-book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(159, 159, 159, 0.9);
    height: 100%;
    width:100%;
}


.background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(82, 37, 62, 0.9);
    height: 95%;
    width: 100%;

}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(158, 70, 120, 0.9);
    height: 35vh;
    width: 25wh;

}

.title {
    font-size: 4em;

}

 /*-- lightslider css --*/
ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.content-slider li{
    background-color: #b45289;
    text-align: center;
    color: #rgba(159, 159, 159, 0.9);
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}

.title-text {
    /*font-size: 1.5em;*/
}

/*----------------------------------
        story_page.html
-----------------------------------*/
/*#story-book-container {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*align-content: space-around;*/
    /*background-color: rgba(180, 82, 137, 0.9);*/
    /*height: 80vh;*/
    /*width:80wh;*/
/*}*/



/*.video-container {*/
    /*max-width: 100%;*/
    /*!*background-color: #2b542c;*!*/
    /*!*background-size: cover;*!*/

/*}*/

#avatar {
    position: absolute;
    top: 10%;
    right: 2%;
    font-size: 2em;
    color: #5cb85c;
    z-index: 3;
}


#record {
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 2em;
    color: #5cb85c;
    z-index: 3;
}

.chapter {
    position: absolute;
    top: -2%;
    left: 40%;
    font-size: 3em;
    color: #5cb85c;
    z-index: 3;
}


#text {
    /*display: flex;*/
    /*justify-content: center;*/


    position: absolute;
    bottom: 10%;
    right: 20%;
    font-size: 2.5em;
    line-height: 1.75em;
    color: #5cb85c;
    z-index:3;
}


.audio-words {
    /*position: absolute;*/
    /*bottom: 10%;*/
    /*right: 20%;*/
    /*font-size: 2.5em;*/
    /*line-height: 1.75em;*/
    /*color: #5cb85c;*/
    /*z-index:3;*/


}

/*#audio {*/
    /*position: absolute;*/
    /*bottom: 10%;*/
    /*right: 20%;*/
    /*font-size: 2.5em;*/
    /*line-height: 1.75em;*/
    /*color: #5cb85c;*/
    /*z-index:3;*/
/*}*/


#story-video {
    position: fixed;
    z-index: 1;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}