/*----------------------------------
        avatar.html
-----------------------------------*/
#avatar-frame {
    position: fixed;
    right: 1%;
    top: 1%;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 40%;
    height: 23vh;
    width: 12vw;
    z-index: 2;
    transition: border .7s;

}

#avatar-frame:hover {
    border: 4px dotted #7A23CC;
}

.avatar-image {
    max-height: 18vh;
    max-width: 10vw;
}
.stars {
    max-height: 5vh;
    max-width: 10vw;

}

.star-icon{
    max-width: 5vh;
    /*max-width: 5vh;*/

}

/*----------------------------------
  modal window for reading chart
-----------------------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: zoomIn;
    -webkit-animation-duration: 0.6s;
    animation-name: zoomIn;
    animation-duration: 0.6s;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-away {
	-webkit-animation-name: zoomOut;
    -webkit-animation-duration: 1s;
    animation-name: zoomOut;
    animation-duration: 1s;
}

li {
	list-style: none;
}

@-webkit-keyframes zoomIn {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoomIn {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@-webkit-keyframes zoomOut {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(0)}
}

@keyframes zoomOut {
    from {transform:scale(1)}
    to {-transform:scale(0)}
}

/*----------------------------------
        record icon /
-----------------------------------*/
#record-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 1%;
    width: 8%;
    height: 13%;
    background-color: transparent;
    box-shadow: 2px 3px 16px grey;
    border-radius: 40%;
    z-index: 3;
    transition: border .7s;
}

#record-container:hover {
    box-shadow: 1px 1px 5px black;
}

#record-container:active {
    box-shadow: 1px 1px 5px #7A23CC;
}

.record-image {
    max-height: 100%;
    max-width: 100%;


}
/*----------------------------------
        control panel
-----------------------------------*/

.control-panel {
    position: absolute;
    bottom: 10%;
    right: 2%;
    width: 175px;
    height: 80px;
    padding: 20px;
    /*background-color: #67b168;*/
    z-index: 3;
    text-align: left;

}


.control-buttons {
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    margin: 10px;
    /*padding: 8% 15%;*/
    font-size: 1.5em;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 3px black;
    transition: background-color .7s, color .7s;
}

/*.control-buttons:hover {*/
    /*background-color: ;*/
    /**/
/*}*/
.play-button {
    padding: 8% 20%;
}


.pause-button {
    padding: 8% 15%;
}


.control-buttons:hover {
    background-color: #7A23CC;
    color: white;
    outline: none;

}


.control-buttons:active {
    background-color: #D91AC4;
    color: white;
    outline: none;
}


#myvideo {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 105%;
    transform: translate(-50%, -50%);
}


.video-container {
    max-width: 100%;
    background-color: #2b542c;
    background-size: cover;

}

/*----------------------------------
  icon-group (visible/invisible)
-----------------------------------*/
.icon-group {
    display: none;
    visibility: hidden;

}





/*----------------------------------
        bookshelf.html
-----------------------------------*/

body {
    margin: 0;
}


#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgb(181, 31, 114);
    height: 80vh;
    width:100%;
}


.shelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    /*background-color: rgba(181, 181, 181, 0.9);*/
    height: 40vh;
    /*width: 35wh;*/
}


.frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(159, 159, 159, 0.9);
    height: 40vh;
}


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}


figcaption  {
    align-items: center;
    font-size: 1.2em;
}


 /*--------------------------------------
        display_book.html
--------------------------------------*/

#display-book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(159, 159, 159, 0.9);
    min-height: calc(100% - 180);
    width:100%;
}


.background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgb(181, 31, 114);
    min-height: 74%;
    width: 100%;

}


.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgba(158, 70, 120, 0.9);
    height: 35vh;
    width: 25vh;
}


.title {
    font-size: 4em;

}


 /*-- lightslider css --*/

.lSSlideOuter{
    background-color: rgb(181, 31, 114);
}

ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}


.content-slider li{
    background-color: #b45289;
    text-align: center;
}


.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}


.title-text {
    /*font-size: 1.5em;*/
}

/*------- slider -------*/


/*----------------------------------
        story_page.html
-----------------------------------*/
.chapter {
    position: absolute;
    top: -2%;
    left: 40%;
    font-size: 3em;
    color: #a8a8a8;
    z-index: 3;
}


.page-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    bottom: 30%;
    right: 16%;
    background-color: rgba(6, 27, 48, 0.6);
    font-size: 2.5em;
    line-height: 1.75em;
    color: #f8f8f8;
    z-index:4;
}


.line {
    display: flex;
    align-content: flex-start;
    margin: 0 40px;
    width: 100%;

}


.word {
    margin: 0 10px;
}

