{% load static %}



<!----- add avatar ----->
{% block avatar %}
    <input id="merit-counter" type="hidden" value="0">



    <figure id="avatar-frame">

{#            <img class="avatar-image" src="{% static "book/images/Bunny-avatar.gif" %}">#}
            <img class="avatar-image" src="{{ request.user.image.url }}">
            <figcaption class="stars">
                {% for merit in request.user.merits.all %}
                    <img class="star-icon" src=" {{ merit.image.url }}">

                {% endfor %}

            </figcaption>

    </figure>

{% endblock %}