{% load static %}



<!----- add avatar ----->
{% block avatar %}
    <input id="merit-counter" type="hidden" value="0">


    <div id="myBtn">
        <figure id="avatar-frame" class="icon-group">

            <img class="avatar-image" src="{% static "book/images/Bunny-avatar.gif" %}">
            {# <img class="avatar-image" src="{{ request.user.image.url }}">#}

        </figure>
    </div>

<!------- modal window ------->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p><h2>Reading Chart</h2>

        <hr>

                {#------ badges here -------#}
                {% for badge in request.user.bagdes.all %}

                    <div class="badges">
                     <img class="badge-icon" src=" {{ merit.image.url }}">
                    </div>

                {% endfor %}

            <hr>
                {#------ stars here -------#}

                {% for merit in request.user.merits.all %}

                    <div class="stars">
                     <img class="star-icon" src=" {{ merit.image.url }}">
                    </div>

                {% endfor %}

            <hr>

            <div class="questions">

                <form action="/action_page.php">
                    <input type="checkbox" name="read-today" value="Bike">I read today!
                    <br>
                    <input type="checkbox" name="clicked-words" value="Car">I clicked the words!
                    <br>
                    <input type="checkbox" name="clicked-audio" value="Car">I listened to the story!
                    <br><br>
                    <input type="submit">
                </form>

            </div>


            </p>
        </div>

    </div>

{% endblock %}