<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Story Page</title>
    <link href="{% static "book/css/book.css" %}" rel="stylesheet">

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- jQuery -->
    <script src="{% static "book/vendor/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "book/vendor/js/jquery.js" %}"></script>

    {#----- scripts and links -----#}
    {% block links %}

    {% endblock %}

</head>


<body>

    <!----- add avatar ----->
    {% block avatar %}

         {% include "book/avatar.html" %}

    {% endblock %}


    {#----- Chapter text -----#}
    {% block chapter %}

        <section class="chapter">
            <p>
            {{ page.name }}
            </p>
        </section>

    {% endblock %}


    {#----- Recording icon -----#}
    {% block record_icon %}


    {% endblock %}


    {#----- Story text, unique on each page -----#}
    {% block text %}

    {% endblock %}


    {#----- Video  -----#}
    {% block media %}

        <section class="control-panel">

            <button id="video-play-pause" onclick="playPause()">Play | Pause</button>

        </section>
        <section class="video-container">

            <video  controls id="myvideo" poster="">

{#                <source src="/media/Snowman Salsa/A Snowy Night/ss_scene_1.mp4" type="video/mp4">#}
{#                <source src="{{ assets.video.file.url }}" type="video/mp4">#}
                Your browser does not support HTML5 video.
            </video>
        </section>

    {% endblock %}

    {#----- scripts -----#}


        {# <!-- jQuery -->#}
        <script src="{% static "book/vendor/js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "book/vendor/js/jquery.js" %}"></script>

        <script src="{% static "js/csrf.js" %}"></script>

         <!-- custom js -->
        <script src="{% static "book/js/script.js" %}"></script>
        <script src="{% static "book/js/story_book.js" %}"></script>

    {% block scripts %}
    {% endblock %}


</body>

{#<footer>#}
{#    <p>Bunny and Bugs Multimedia 2017</p>>#}
{#</footer>#}
</html>