{%  extends 'base.html' %}
{% load static %}


<head>

    {% block links %}
        <link href="{% static "book/css/book.css" %}" rel="stylesheet">
    {% endblock %}

</head>


<!------------- add navbar ------------>
{% block navbar %}
    <section>

        {% include 'navbar.html' %}

    </section>

{% endblock %}


<!----- add avatar ----->
{% block avatar %}

    {% include 'book/avatar.html' %}

{% endblock %}


 <!------------- add feature ------------>
{% block feature %}

    <section id="container" class="shelf">

        {% for book in books %}

            <figure class="frame">

                <a href="/books/{{ book.slug }}"> <img src="{{ book.cover.url }}"></a>
                <figcaption class="title-text">{{ book.title }}</figcaption>

            </figure>

        {% endfor %}

    </section>

{% endblock %}


<!----- add tagline ----->
{% block tagline %}

{% endblock %}