{%  extends 'base.html' %}
{% load static %}


<head>

        {% block links %}
            <link href="{% static "book/css/book.css" %}" rel="stylesheet">
        {% endblock %}

</head>
    <!------------- add navbar ------------>
    <section>

        {% block navbar %}

            {% include "navbar.html" %}

        {% endblock %}

    </section>



{% block feature %}
    <main id="container">

        <section class="shelf">

            {% for book in books %}

                <figure class="frame">

                    <img src="{{ book.cover.url }}">

                    <figcaption>
                        <p class="title-text">
                            <a href="/books/{{ book.slug }}">{{ book.title }}</a>
                        </p>
                    </figcaption>

                </figure>

            {% endfor %}

        </section>

    </main>

{% endblock %}