{#{%  extends 'book/book_base.html' %}#}

{% load static %}

    {#----- scripts and links -----#}
    {% block links %}
        <link href="{% static "book/css/book.css" %}" rel="stylesheet">

        <!-- jQuery -->
        <script src="{% static "book/vendor/js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "book/vendor/js/jquery.js" %}"></script>
    {% endblock %}


    {#----- Audio files -----#}
{#    {% block audio %}#}
{##}
{#    {% endblock %}#}
{##}
{##}
    {#----- Chapter text -----#}
    {% block chapter %}

        <section class="chapter">
            <p>
            {{ page.name }}
            </p>
        </section>

    {% endblock %}


    {#----- Avatar image -----#}
    {% block avatar %}

        <section id="avatar">

            <p>Avatar<br>This is me.</p>

        </section>

    {% endblock %}


    {#----- Recording icon -----#}
    {% block record_icon %}
        <section id="record">

            <p>Record myself.<br> Send to mom.</p>

        </section>

    {% endblock %}


    {#----- Story text -----#}


    {% block text %}



        <section id="text">
            <div class="audio-words">
                <audio id="audio" src="{{ assets.5.file.url }}" type="audio/mpeg" autoplay="false"></audio>
                <a class="play_sound">Game! <br></a>
            </div>

            <div class="audio-words">
                <audio id="audio" src="{{ assets.6.file.url }}" autoplay="false"></audio>
                <a class="play_sound">Where</a>
            </div>

            <div>
                <audio id="audio" src="{{ assets.7.file.url }}" autoplay="false"></audio>
                <a class="play_sound">is</a>
            </div>

            <div>
                <audio id="audio" src="{{ assets.8.file.url }}" autoplay="false"></audio>
                <a class="play_sound">the river.</a>
            </div>


{#        <p>{{ assets.2.slug }} </p>#}
{#        <p>{{ assets.3.content_text.url }} </p>#}
{#           <p>Snow swirled to the ground.</p>#}

        </section>

        <script>
            $('.play_sound').on('click', function () {
                let sound = $(this).siblings('audio')[0];
                console.log(`playing sound... ${sound}`);
                sound.play();
            }
            );
        </script>

    {% endblock %}


    {#----- Video  -----#}
    {% block media %}

        <section class="video-container">
            <video controls id="story-video" poster="">

                <source src="{{ assets.1.file.url }}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </section>

    {% endblock %}

    {#----- scripts -----#}
    {% block scripts %}
{##}
{#        <!-- jQuery -->#}
{#        <script src="{% static "book/vendor/js/jquery-3.2.1.min.js" %}"></script>#}
{#        <script src="{% static "book/vendor/js/jquery.js" %}"></script>#}

         <!-- custom js -->
        <script src="{% static "book/js/script.js" %}"></script>



    {% endblock %}

