{%  extends 'book/book_base.html' %}

{% load static %}


<!----- add avatar ----->
{% block avatar %}

     {% include "book/avatar.html" %}

{% endblock %}


{#----- Recording icon -----#}
{% block record_icon %}
    <section id="record">

{#        <img class="avatar-image" src="/book/{{ request.user.image.url }}">#}
        <img class="record-image" src="{{ assets.record_icon.file.url }}">

    </section>

{% endblock %}





{#----- Story text -----#}
{% block text %}

    <section class="text">

        {% for word in assets.words %}
            <div class="word-{{ forloop.counter }}">
                <audio id="audio" data-id="{{ word.id }}" src="{{ word.file.url }}" autostart="false"></audio>
                <a class="play_sound asset">{{ word.text }}</a>
            </div>
        {% endfor %}

    </section>


{% endblock %}



