<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block extra_head %}

    {% endblock %}


</head>
<body>
    <main>
        <nav>
        {% include "nav.html" %}
        </nav>

        <section>

        <header>
            {# Top #}
            {%  block headline %}
            {%  endblock %}
        </header>

        <article>
            {# Middle #}
            {%  block main %}
            {%  endblock %}
        </article>

            <footer>
            {# Bottom #}
            {%  block footer %}
            {%  endblock %}
            </footer>

        </section>

    </main>

</body>
</html>