{% extends 'base.html' %}


 Adds the navbar
{% block navbar %}

    {% include 'navbar.html' %}

{% endblock %}

<!---------- Added the slider ---------->
{% block feature %}

    {% include 'slider.html' %}

{% endblock %}


<!---------- Added the tagline ---------->
{% block tagline %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <h1>Storia</h1>
                <p>Interactive stories to inspire children to read.</p>

            </div>
        </div>
    </div>

{% endblock %}


<!---------- Added the tagline ---------->
{% block script %}

{% endblock %}